@model Laurus.Secrets.Models.Password

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Password</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EncryptedData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EncryptedData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Email)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
