@model Laurus.Secrets.Models.Password

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Password</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EncryptedData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EncryptedData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PasswordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
