@model Laurus.Secrets.Models.Password

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Secret", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Password</legend>

		@Html.HiddenFor(model => model.PasswordId)

		<div class="control-group">
			<label class="control-label" id="label-one"></label>
			<div class="controls">
				<input type="text" id="one" class="input-xlarge" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" id="label-two"></label>
			<div class="controls">
				<input type="text" id="two" class="input-xlarge" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" id="label-three"></label>
			<div class="controls">
				<input type="text" id="three" class="input-xlarge" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" id="label-four"></label>
			<div class="controls">
				<textarea rows="4" id="four" class="input-xlarge"></textarea>
			</div>
		</div>
		<p>
			<a href="#" id="submit">edit</a>
		</p>
	</fieldset>
}

<div>
	<i class="icon-arrow-left"></i>
	@Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript" src="/Scripts/Aes.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var key = localStorage.getItem("key");

			var cipher = "@Model.EncryptedData";
            var plainText = Aes.Ctr.decrypt(cipher, key, 128);
            var fields = JSON.parse(plainText);
            $("#label-one").text("Name");
            $("#one").val(fields.one);
            $("#label-two").text("Username");
            $("#two").val(fields.two);
            $("#label-three").text("Password");
            $("#three").val(fields.three);
            $("#label-four").text("Notes");
            $("#four").val(fields.four);


            $("#submit").click(function () {
            	var plainText = JSON.stringify({ 'one': $("#one").val(), 'two': $("#two").val(), 'three': $("#three").val(), 'four': $("#four").val() });
            	var encrypted = Aes.Ctr.encrypt(plainText, key, 128);
            	$.post("/Secret/Edit",
                    {
                    	EncryptedData: encrypted,
                    	PasswordId: @Model.PasswordId,
                        UserId: @Model.UserId
                    },
                    function (data, status) {
                    	// redirect to list
                    	window.location = "/Secret";
                    });
            });
        });
	</script>
}