@model Laurus.Secrets.Models.Password

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Password</legend>

        @Html.HiddenFor(model => model.PasswordId)

        <div class="editor-label">
            @Html.LabelFor(model => model.EncryptedData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EncryptedData)
            @Html.ValidationMessageFor(model => model.EncryptedData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salt)
            @Html.ValidationMessageFor(model => model.Salt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
